<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
<nav>
    <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/margaret" title="Margaret">Margaret</a></li>
        <li><a href="/don" title="Don">Don</a></li>
        <li><a href="/karen" title="Karen">Karen</a></li>
        <li><a href="/michele" title="Michele">Michele</a></li>
    </ul>
</nav>